.clothes-section {
  display: flex;
  flex-direction: column;
}

.clothes-section__header {
  margin: 0;
  display: flex;
}

.clothes-section__title {
  font-family: "Cabinet-Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.clothes-section__add-button {
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: transparent;
  border: none;
}

.clothes-section__add-button:hover {
  cursor: pointer;
}

.clothes-section__items {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  column-gap: 15px;
}
